$reality-blue: rgb(51,153,204);
$reality-red: rgb(148, 27, 12);

$reality-dark-black: #0c0c0c;
$reality-light-black: #111111;
$reality-dark-gray: #333;
$reality-gray: #424242;
$reality-light-grey: #c1c1c1;

$desktop-size: 1064px;