
<!-- Mode Selector -->
<div class="selector modes">
    <div class="title"><span>Modes</span></div>
    <div class="options">
       
        <div class="item" ng-class="{disabled: !$ctrl.IsModeAvailable($ctrl.AAS), active: $ctrl.IsModeSelected($ctrl.AAS)}" ng-click="$ctrl.SelectMode($ctrl.AAS)">AAS</div>
        <div class="item" ng-class="{disabled: !$ctrl.IsModeAvailable($ctrl.INS), active: $ctrl.IsModeSelected($ctrl.INS)}" ng-click="$ctrl.SelectMode($ctrl.INS)">Insurgency</div>
        <div class="item" ng-class="{disabled: !$ctrl.IsModeAvailable($ctrl.CNC), active: $ctrl.IsModeSelected($ctrl.CNC)}" ng-click="$ctrl.SelectMode($ctrl.CNC)">CNC</div>
        <div class="item" ng-class="{disabled: !$ctrl.IsModeAvailable($ctrl.SKI), active: $ctrl.IsModeSelected($ctrl.SKI)}" ng-click="$ctrl.SelectMode($ctrl.SKI)">Skirmish</div>
        <div class="item" ng-class="{disabled: !$ctrl.IsModeAvailable($ctrl.COP), active: $ctrl.IsModeSelected($ctrl.COP)}" ng-click="$ctrl.SelectMode($ctrl.COP)">Co-Operative</div>
        <div class="item" ng-class="{disabled: !$ctrl.IsModeAvailable($ctrl.VEH), active: $ctrl.IsModeSelected($ctrl.VEH)}" ng-click="$ctrl.SelectMode($ctrl.VEH)">Vehicle Warfare</div>
    </div>
</div>

<!-- Layer Selector -->
<div class="selector layers">
    <div class="title"><span>Layers</span></div>
    <div class="options">
        <div class="item" ng-class="{disabled: !$ctrl.IsLayerAvailable($ctrl.INF), active: $ctrl.IsLayerSelected($ctrl.INF)}" ng-click="$ctrl.SelectLayer($ctrl.INF)">Infantry</div>
        <div class="item" ng-class="{disabled: !$ctrl.IsLayerAvailable($ctrl.ALT), active: $ctrl.IsLayerSelected($ctrl.ALT)}" ng-click="$ctrl.SelectLayer($ctrl.ALT)">Alternative</div>
        <div class="item" ng-class="{disabled: !$ctrl.IsLayerAvailable($ctrl.STD), active: $ctrl.IsLayerSelected($ctrl.STD)}" ng-click="$ctrl.SelectLayer($ctrl.STD)">Standard</div>
        <div class="item" ng-class="{disabled: !$ctrl.IsLayerAvailable($ctrl.LRG), active: $ctrl.IsLayerSelected($ctrl.LRG)}" ng-click="$ctrl.SelectLayer($ctrl.LRG)">Large</div>
    </div>
</div>
