
<i ui-sref="browser" class="material-icons" ng-show="$ctrl.ShowArrow">arrow_back</i>
<div class="header-text">
    <div class="title">{{$ctrl.Title}}</div>
    <div class="sub-title" ng-show="$ctrl.Subtitle">{{$ctrl.Subtitle}}</div>
</div>


<search on-search="$ctrl.OnSearch(event)"></search>

<nav class="links" ng-class="{hide: !$ctrl.ShowNav}">
    <a href="https://www.realitymod.com/forum/" class="link">Forums</a>
    <a href="https://www.realitymod.com/prspy/" class="link">PRSPY</a>
    <a href="https://statistics.realitymod.com/" class="link">Statistics</a>
</nav>



<!-- Navigation -->
<i class="material-icons mobile-only" ng-click="$ctrl.ShowNav = !$ctrl.ShowNav;">more_vert</i>

<!-- loading bar -->
<div class="progress-bar" ng-show="$ctrl.Busy">
    <div class="mainbar bar"></div>
    <div class="auxbar bar"></div>
</div>